@import url('https://fonts.googleapis.com/css2?family=Rokkitt&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

body {
    min-height: 100vh;
}

.navigation {
    width: 0;
    /* transition: width 1s; */
	transition-property: width;
    transition-duration: 0.5s;
    color: white;
}

.navigation.active {
    width: 300px;
    background-color: rgb(22, 20, 20);
    height: 100vh;
    /* transition: width 1s; */
	transition-property: width;
    transition-duration: 0.5s;
    display: inline-block;
}

.navigation ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    /* width: 300px; */
}

.navigation.active ul {
    display: inline-block;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li a {
    position: relative;
    text-decoration: none;
    width: 100%;
    display: flex;
   margin: auto 0;
   transform: translateY(20px);
   color: white;
}

.navigation ul li a .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 20px;
}

.navigation ul li a .title {
    position: relative;
    padding: 0 10px;
    height: 60px;
    text-align: start;
    line-height: 20px;
    white-space: nowrap; 
}

.navigation ul li:hover {
    background-color: rgba(63, 59, 59, 0.5);
}

.navigation .logout {
    position: absolute;
    bottom: 50px;
    right: 10;
    width: 60px;
    height: 60px;
    text-align: center;
    display: none;
}

.navigation.active .logout {
    display: inline-block;
}

.navigation .logout a {
    padding: 15px !important;
}

.navigation .logout a:hover {
    background-color: rgba(63, 59, 59, 0.5);
}

.menu {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(22, 20, 20);
    color: white !important;
    text-align: center;
    cursor: pointer;
    z-index: 9;
}

.menu:hover {
    background-color: rgba(63, 59, 59);
}

@media (max-width:768px) {
    .navigation {
        left: -60px;
    }
    .navigation.active {
        left: 0;
        width: 100% ;
        z-index: 9;
    }
}

